.header {
    background-image: linear-gradient(120deg, #155799, #159957);
    margin-bottom: 20px;
    color: #fff;
}

.botao{
	background: linear-gradient(to bottom right, #144c6d, #2589c4) !important;
    color: #FFF !important;
}

.header small {
    color: #fff;
}

.footer .footer-link,
.footer .versionInformation {
    font-size: smaller;
}

.footer {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    
}

.footer-links {
    display: flex;
    flex-direction: column;
}

.butterfaces-links {
    display: flex;
}

.footer-link {
    margin-left: 6px;
}

.yourkit-link {
    font-size: smaller;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.zerarLayout{
	border: none !important;
	clear: both !important;
	padding: 0 !important;
	overflow: hidden !important;
}
